.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.inklingButton {
  border-radius: 20px;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.inklingButton:hover {
  /* background-color: #3f3f3f !important; */
  opacity: 0.8;
}

.inklingButton.active {
  color: var(--inkling-color);
  /* font-weight: bold; */
}