:root {
  --content-height: 300px;
  --topbar-height: 50px;
}

.inkling-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: var(--content-height);
  background-color: pink;
  color: white;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  transform: translateY(100%);
  cursor: pointer;
  z-index: 9999 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inkling-content.visible {
  transform: translateY(calc(var(--content-height) - var(--topbar-height)));
}

.inkling-content.expanded {
  transform: translateY(0%);
}

.topBar {
  height: var(--topbar-height);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
