:root {
  --content-height: 300px; // You may adjust or remove this if not used elsewhere
  --preview-height: 25px;
  --preview-width: 60px;
  --inkling-color: #21FD5E;
}

.inkling-content {
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #292929;
  border-radius: 10px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
