.preview-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.previewButton {
  width: var(--preview-width);
  height: var(--preview-height);
  color: black;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--inkling-color);
  border-top-left-radius: 5px;
}

.expandIcon {
  color: black;
}
