.preview-bar {
  width: 100%;
  height: var(--preview-height);
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.previewContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: calc(100% - 30px);
  height: 100%;
}

.previewText {
  width: 100%; /* Set the desired width of the container */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expandedContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.expandDownIcon {
  opacity: 0.5;
}