body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #3CA0F5;
}

#inkling-popup {
  width: 340px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

#inkling-popup p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.7;
}

.icon {
  font-size: 18px;
  margin-bottom: 10px;
}

@keyframes animateLogo {
  0% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
  6.25% {
    transform: rotate(-15deg) scale(1.1) translateX(-2px);
  }
  12.5% {
    transform: rotate(10deg) scale(0.9) translateX(2px);
  }
  18.75% {
    transform: rotate(-5deg) scale(1.05) translateX(-1px);
  }
  25% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
  31.25% {
    transform: rotate(15deg) scale(0.9) translateX(-2px);
  }
  37.5% {
    transform: rotate(-10deg) scale(1.1) translateX(2px);
  }
  43.75% {
    transform: rotate(5deg) scale(0.95) translateX(-1px);
  }
  50% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
  56.25% {
    transform: rotate(-15deg) scale(1.1) translateX(-2px);
  }
  62.5% {
    transform: rotate(10deg) scale(0.9) translateX(2px);
  }
  68.75% {
    transform: rotate(-5deg) scale(1.05) translateX(-1px);
  }
  75% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
   81.25% {
    transform: rotate(15deg) scale(0.9) translateX(-2px);
  }
  87.5% {
    transform: rotate(-10deg) scale(1.1) translateX(2px);
  }
  93.75% {
    transform: rotate(5deg) scale(0.95) translateX(-1px);
  }
  100% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
}

.inkling-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
  animation: animateLogo 12s infinite;
}

.inkling-logo img {
  width: 100%;
  height: 100%;
}

